.title {
    text-align: center;
    font-size: 3em;
    color: #0e2675; /* Hot pink */
    margin-top: 20px;
  }
  
  .nav-menu {
    text-align: center;
    margin-top: 20px;
  }
  
  .nav-menu a {
    font-size: 1.5em;
    color: #1e90ff; /* Dodger blue */
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #1e90ff;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }
  
  .nav-menu a:hover {
    background-color: #1e90ff;
    color: white;
  }