<div class="motus-wrapper">
    <div class="points">
      {{ pointsCount }} points
    </div>
    <div class="week-selector">
        <button
        *ngFor="let week of allWeeks"
        [ngClass]="{ 'week': true, 'selected': selectedWeeks.includes(week) }"
        (click)="onWeekSelect(week)"
        [disabled]="gameWon"
      >
        {{ week }}
      </button>
    </div>
  <div class="grid">
    <div
      [ngClass]="{ row: true, selected: rowIndex == currentRow }"
      *ngFor="let row of attempts; let rowIndex = index"
    >
      <div
        class="cell"
        *ngFor="let letter of row; let colIndex = index"
        [ngClass]="{
          correct: (currentRow > rowIndex && letter === wordToGuess[colIndex]) || gameWon,
          present:
            currentRow > rowIndex &&
            isPresentButNotOverused(letter, rowIndex)
        }"
      >
        {{ letter }}
      </div>
    </div>
  </div>

  <div class="keyboard">
    <div *ngFor="let row of alphabet" class="keyboard-row">
      <button
        *ngFor="let letter of row"
        [ngClass]="{ 'key': true, 'selected': wordToGuess.includes(letter) && bonusEnabled }"
        (click)="selectLetter(letter)"
        [disabled]="gameWon"
      >
        {{ letter }}
      </button>
    </div>
    <button class="key clean" (click)="clearLetter()" [disabled]="gameWon">Effacer</button>
  </div>

  <div class="actions-btn">
    <button (click)="getBonus()" [disabled]="currentRow < 3">Joker</button>
    <button (click)="validateWord()" [disabled]="gameWon">Valider</button>
    <button (click)="refreshGame()">Nouveau Mot</button>
  </div>
</div>
